data/jdbc/src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://net.microfalx/xsd/schema-1.0.xsd"
           targetNamespace="https://net.microfalx/xsd/schema-1.0.xsd"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

    <xs:element name="schema">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="depends-on" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="definition" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="order" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="definition">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="table"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="migration"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="mysql"/>
                        <xs:enumeration value="postgres"/>
                        <xs:enumeration value="vertica"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="path"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="migration">
        <xs:complexType>
            <xs:attribute name="path" use="required"/>
            <xs:attribute name="condition" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="table"/>
    <xs:element name="depends-on"/>

</xs:schema>

