extension/web/src/main/resources/xsd/asset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://net.microfalx/xsd/asset-1.0.xsd"
           targetNamespace="https://net.microfalx/xsd/asset-1.0.xsd"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

    <xs:element name="assets">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="asset-bundle" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="update-asset-bundle" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>

        </xs:complexType>
    </xs:element>

    <xs:element name="asset-bundle">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="depends-on-asset-bundle"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="asset"/>
            </xs:sequence>
            <xs:attribute name="id" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="path"/>
            <xs:attribute name="version"/>
            <xs:attribute name="extends"/>
            <xs:attribute name="order"/>
            <xs:attribute name="inline" type="xs:boolean" default="false"/>
            <xs:attribute name="theme"/>
            <xs:attribute name="feature"/>
            <xs:attribute name="home-page"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="update-asset-bundle">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="depends-on-asset-bundle"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="depends-on-feature"/>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="asset"/>
            </xs:sequence>
            <xs:attribute name="id" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="depends-on-asset-bundle"/>
    <xs:element name="depends-on-theme"/>
    <xs:element name="depends-on-feature"/>

    <xs:element name="asset">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="depends-on-feature"/>
            </xs:sequence>
            <xs:attribute name="path"/>
            <xs:attribute name="uri"/>
            <xs:attribute name="feature"/>
            <xs:attribute name="type" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="script"/>
                        <xs:enumeration value="stylesheet"/>
                        <xs:enumeration value="image"/>
                        <xs:enumeration value="font"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="order"/>
            <xs:attribute name="absolute" type="xs:boolean" default="false"/>
            <xs:attribute name="requires-authentication" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>

</xs:schema>

