base/configuration/src/main/resources/xsd/configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="https://net.microfalx/xsd/configuration-1.0.xsd"
           targetNamespace="https://net.microfalx/xsd/configuration-1.0.xsd"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">

    <xs:element name="configuration">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>

        </xs:complexType>
    </xs:element>

    <xs:element name="group">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="key" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="section"/>
            <xs:attribute name="order"/>
            <xs:attribute name="description"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="item">
        <xs:complexType>
            <xs:attribute name="key" use="required"/>
            <xs:attribute name="name" use="required"/>
            <xs:attribute name="feature"/>
            <xs:attribute name="data-type" default="string">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="string"/>
                        <xs:enumeration value="boolean"/>
                        <xs:enumeration value="integer"/>
                        <xs:enumeration value="number"/>
                        <xs:enumeration value="duration"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="minimum"/>
            <xs:attribute name="maximum"/>
            <xs:attribute name="default"/>
            <xs:attribute name="client" type="xs:boolean" default="false"/>
            <xs:attribute name="required" type="xs:boolean" default="true"/>
            <xs:attribute name="separator"/>
            <xs:attribute name="order"/>
            <xs:attribute name="description"/>
        </xs:complexType>
    </xs:element>

</xs:schema>

